<%= form_for([@user, @url]) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Url to shorten:" %><br />
    <%= f.text_field :original %>
  </div>
  <div class="field">
    <%= f.label "Vanity Url:" %><br />
    <%= f.text_field :short %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
